.wy-nav-content {
  max-width: 100% !important;
}

.wy-side-nav-search {
  background-color: #d4816b;
}

.wy-side-nav-search input[type=text] {
  border: none !important;
}

img#spr {
  width: 1.6em;
  margin-left: 5px;
  margin-top: -3px;
}

img#sprlist {
  width: 1.6em;
  margin-top: 4px;
}

img#ind {
  width: 1.1em;
  margin-top: -3px;
  position: inline;
}
